/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
    
}
/* Start Variables */
:root {
    --main-color: #10cab7; 
    --second-color:#2c4755;
    --main-font-color: #ebeced;
    --section-padding: 60px;
    --section-color: #f6f6f6;
    --main-duration: .5s;
}
/* End Variables */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small Screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium Screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large Screens */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Components */
.special-heading {
    color: var(--main-font-color);
    text-align: center;
    font-size: 120px;
    letter-spacing: -5px;
    font-weight: 800;
}
.special-heading + p {
    color: #777;
    text-align: center;
    margin: -30px 0 0;
    font-size: 20px;
}
@media (max-width: 767px) {
    .special-heading {
        font-size: 70px;
    }
    .special-heading + p {
        margin-top: -18px;
    }
}
/* End Components */
/* Start Header */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
}
.header .links {
    position: relative;
    cursor: pointer;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    height: 2px;
    background-color: #333;
    margin-bottom: 4px;
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header ul {
    z-index: 1;
    list-style: none;
    min-width: 200px;
    background-color: #f6f6f6;
    position: absolute;
    top: calc(100% + 15px);
    right: 0;
    display: none;
}
.header .links:hover ul {
    display: block;
    }
.header ul:before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 15px;
    transition: var(--main-duration);
}
.header li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}
.header a:hover {
    padding-left: 25px;
}
/* End Header */
/* Start Landing */
.landing {
    background-image: url(../images/moutain.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1 {
    font-size: 45px;
    color: var(--main-color);
}
.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}
/* End Landing */
/* Start Features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-color);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
@media (max-width: 767px) {
    .features .container {
        grid-template-columns: 1fr;
    }
}
.features .feat {
    padding: 20px;
    text-align: center;
    box-shadow: 0px 6px 4px -4px rgba(0, 0, 0, .2)
}
.features .feat i {
    color: var(--main-color);
}
.features .feat h3 {
    font-weight: 800;
}
.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
/* End Features */
/* Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 50px);
}
.services .srv-container {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px; */
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (min-width: 768px) {
    .services .srv-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
        grid-gap: 20px;
    }
}
.services .srv-container .srv-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.services .srv-container .srv {
    display: flex;
    flex-direction: column;
    text-align: center;
}
@media (min-width: 768px) {
    .services .srv-container .srv {
        flex-direction: row;
        text-align: initial;
    }
}
.services .srv-container .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}
.services .srv-container .srv .text {
    flex: 1;
}
.services .srv-container .srv .text h3 {
    margin: 0 0 20px;
}
.services .srv-container .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.8
}
.services .srv-container .image {
    text-align: center;
    position: relative;
}
.services .srv-container .image::before {
    content: "";
    position: absolute;
    background-color: var(--second-color);
    right: 0px;
    top: -50px;
    width: 100px;
    height: calc(100% + 100px);
    z-index: -1;
}
.services .srv-container .image img {
    width: 260px;
}
@media (max-width: 1199px) {
    .services .srv-col:last-of-type {
        display: none;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .services .srv-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* End Services */
/* Start Portfolio */
.portfolio {
padding-top: var(--section-padding);
padding-bottom: var(--section-padding);
background-color: var(--section-color);
}
.portfolio .prf-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 100px;
}
@media (max-width: 767px) {
    .portfolio .prf-container {
        grid-template-columns: 1fr;
    }
}
.portfolio .prf-container .card {
    background-color: white;
}
.portfolio .prf-container .card img {
    max-width: 100%;
    transition: var(--main-duration);
    opacity: .9;
}
.portfolio .prf-container .card img:hover {
    transform: scale(1.3) rotate(5deg);
    opacity: 1;
}
.img-container {
    overflow: hidden;

}
.portfolio .prf-container .card .info {
    padding: 20px;
}
@media (max-width: 767px) {
    .portfolio .prf-container .card .info {
    text-align: center;
    }
}
.portfolio .prf-container .card .info p{
    color: #444;
    line-height: 1.8;   
    font-weight: 300; 
}
/* End Portfolio */
/* Start About */
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.about .abt-container {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991px) {
    .about .abt-container {
        flex-direction: column;
    }
}
.about .abt-container .image {
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width: 991px) {
    .about .abt-container .image {
        margin: 0 auto 90px;
    }
}
.about .abt-container .image::before {
    content: "";
    background: var(--main-font-color);
    position: absolute;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about .abt-container .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
    top: -40px;
}
@media (max-width: 991px) {
    .about .abt-container .image::after {
        display: none;
    }
}
.about .abt-container .image img {
    max-width: 100%;
}
.about .abt-container .text {
    flex-basis: calc(100% - 500px);
}
@media (max-width: 991px) {
    .about .abt-container .text {
        text-align: center;
    }
}
.about .abt-container .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .abt-container .text hr {
    width: 50%;
    border-color: var(--main-color);
    display: inline-block;
}
.about .abt-container .text p:last-of-type {
    color: #777;
    line-height: 2;
    font-weight: 300;
}
/* End About */
/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-color);    
}
.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--second-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}
@media (max-width: 767px) {
    .contact .info .link,
    .contact .info .label {
        font-size: 25px;
    }
}
.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.contact .info .social i {
    color: var(--second-color);
    margin-left: 10px;
}
/* End Contact */
/* Start Footer */
.footer {
    background-color: var(--second-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span {
    font-weight: bold;
    color: var(--main-color);
}






